body {
    font-family: Helvetica, Arial, 'sans-serif';
    margin: 0;
    padding: 0;
}

.app-content {
    margin: 2rem;
    padding: 1rem;
    border: 2px solid #ebebeb;
}

h1, h2 {
  margin: 0;
  padding: 0;
}
